@import 'src/styles.scss';

.heading {
  .logo {
    width: rem(128);
    height: rem(128);
    border-radius: 0 rem(8) 0 rem(8);
    margin: auto;
  }
  .logo-container {
    width: rem(403);
    display: flex;
    align-items: flex-start;
    margin: auto;
    h1 {
      margin: rem(-30) 0 0;
    }
  }
  h2 {
    text-align: center;
    margin: rem(154) 0 rem(21);
  }
}
