@import "src/styles.scss";

.container {
  width: rem(300);
  margin: auto;
  left: 39.2%;
  position: absolute;
  transition: transform .2s ease-in-out;
  transition-delay: .3s;
  img {
    display: block;
    width: rem(128);
    height: rem(192);
    margin: auto;
    transform-origin: 50% 100%;
  }
  h3, p {
    text-align: center;
  }
}
