@import "src/styles.scss";

.view {
  margin: rem(86) 0 0;
}
.next-btn {
  width: rem(0);
  min-width: rem(0);
  height: rem(32);
  display: flex;
  justify-content: space-around;
  mat-icon {
    margin-top: rem(-6);
    color: map-get($colors, white);
    font-size: rem(26);
  }
}
.container {
  width: rem(256);
  margin: rem(60) auto 0;
  display: flex;
  justify-content: space-between;
}
.empty-book {
  width: rem(128);
  height: rem(192);
  margin: auto;
  background: rgba(254, 201, 103, .4);
  position: absolute;
  left: 50%;
  transform: translate(-50%, -28%);
  display: flex;
  justify-content: space-around;
  align-items:  center;
  mat-icon {
    font-size: rem(50);
    transform: translate(-50%, -50%);
    color: map-get($colors, next-yellow);
  }
}
