@import 'src/styles.scss';

.container {
  display: flex;
  justify-content: space-around;
  width: rem(702);
  margin: rem(64) auto;
  .logo-container, .description-container {
    width: rem(287);
  }
  p {
    width: rem(287);
  }
  .spacer {
    height: rem(300);
    margin: 0 rem(95);
    border: 1px solid map-get($colors, black);
  }
}
