/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,700');

$colors: (
  white: #f7f7f7,
  black: #0A1C24,
  gray: #979797,
  next-yellow: #FEC967,
  next-red: #E97565,
  next-blue: #0A7392,
  next-red-transparent: rgba(255, 227, 174, 0.3)
);
// Functions

@function rem($pixel) {
  @return $pixel / 16 * 1rem;
}

@mixin bookGrad {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fec967+76,e97565+100 */
  background: map-get($colors, next-yellow); /* Old browsers */
  background: -moz-linear-gradient(-45deg, map-get($colors, next-yellow) 47%, map-get($colors, next-red) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, map-get($colors, next-yellow) 47%,map-get($colors, next-red) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, map-get($colors, next-yellow) 47%,map-get($colors, next-red) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fec967', endColorstr='#E97565',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mat-ripple-element {
  background-color: map-get($colors, next-red-transparent);
}

.loading {
  mat-spinner {
    circle {
      stroke: map-get($colors, white);
    }
  }
}

html,
body,
app-root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: map-get($colors, white);
  overflow-x: hidden;
}

h1, h2, h3, h4, p {
  color: map-get($colors, black);
}

h1 {
  font-size: rem(34);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: rem(36);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h3 {
  font-size: rem(20);
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p {
  font-size: rem(14);
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  &.tutorial {
    font-style: italic;
  }
}

.logo {
  // background-color: map-get($colors, next-yellow);
  @include bookGrad();
}

.next-btn {
  background-color: map-get($colors, next-yellow);
  min-width: rem(64);
  border-radius: 0 rem(8) 0 rem(8);
  h3 {
    margin: 0;
    color: map-get($colors, white);
    font-size: rem(12);
  }
  &:disabled {
    opacity: .5;
  }
}

.clear-btn {
  background: none;
  border: none;
  &:focus {
    outline: none;
  }
  &:disabled {
    opacity: .5;
  }
}

.clear {
  clear: both;
}
