@import "src/styles.scss";

.container {
  width: rem(300);
  margin: auto;
  left: 50%;
  position: absolute;
  transition: transform .2s ease-in-out;
  transition-delay: .3s;
  img {
    display: block;
    width: rem(128);
    height: rem(192);
    margin: auto;
    transform-origin: 50% 100%;
    transition: box-shadow .2s ease-in-out;
    transition-delay: 0s;
    &.active {
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
      transition-delay: .3s;
      cursor: pointer;
    }
    &.no-select {
      cursor: initial;
    }
  }
  h3, p {
    text-align: center;
  }
}
.text-container {
  height: 100px;
  h3 {
    font-size: rem(16);
    margin: rem(10) 0 0;
  }
  p {
    margin: rem(8) 0 0;
  }
}
.on-shelf {
  position: absolute;
  width: rem(169);
  left: 50%;
  top: rem(172);
  transform: translateX(-50%);
  background: map-get($colors, next-red);
  border-radius: 0 rem(8);
  z-index: 10;
  box-shadow: 0 0 rem(15) rgba(0,0,0,0.3);
  h3 {
    font-size: rem(12);
    color: map-get($colors, white);
    letter-spacing: rem(.5);
  }
}
